//------------ COLOR VARIABLES --------------//

$color-primary: #ffe3e3;
$color-primary-light: #fff5f5;
$color-primary-dark: #c51d58;

$color-white: #ffffff;
$color-brown: #3a2817;
$color-black: #000000;

//------------ FONT VARIABLES --------------//

$font-small: 1.4rem; // 14 px
$font-medium: 1.6rem; // 16 px
$font-larg: 1.8rem; // 18 px
$font-xlarg: 2rem; // 20 px
$font-huge: 2.4rem; // 24 px
$font-xhuge: 3rem; // 30 px
$font-baner: 3.6rem; // 36 px

//------------ RESPONSIVE BREAKPOINTS --------------//

$bp-huge: 87.5em; // 1600px
$bp-xlarge: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-xsmall: 25em; // 400px;

//------------ BORDER RADIUS --------------//

$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 12px;
$radius-xlarge: 16px;

//------------ SPACE VARIABLES --------------//

$space-small: 1rem; // 10 px
$space-medium: 2rem; // 20 px
$space-larg: 3rem; // 30 px
$space-xlarg: 4rem; // 40 px
$space-huge: 5rem; // 50 px
$space-xhuge: 10rem; // 100 px