.offer {
  background-color: $color-primary-light;
  padding: 0 $space-xhuge $space-xhuge $space-xhuge;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $space-xhuge $space-huge;

  &__entry {
    width: 100%;
    grid-column: 1/-1;
    padding: $space-xhuge 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__header {
    font-size: $font-xhuge;
  }

  &__hr {
    width: 40%;
    height: 0.4rem;
    color: $color-black;
    background-color: $color-black;
    margin: $space-small $space-huge $space-huge $space-huge;
  }
}

.offer-item {
  position: relative;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.8s;
  perspective: 150rem;
  position: relative;
  cursor: pointer;

  &__title {
    position: absolute;
    padding: $space-medium;
    width: 100%;
    min-height: 1rem;
    top: 10%;
    left: 0;
    background-color: rgba($color: $color-white, $alpha: 0.9);
    font-size: $font-huge;
    text-align: center;
    z-index: 2;
    display: block;
  }

  &__button-visible{

    width: 10rem;
    height: 3.5rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: $font-xlarg;
    border-radius: $radius-large;
    border: solid 0.2rem $color-primary-dark;
    visibility: hidden;
    display: none;
  }


  &__figure {
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    width: 100%;
    min-height: 1rem;
    display: block;
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    padding: $space-medium;
    font-size: $font-huge;
    color: $color-primary-dark;
  }

  &__text {
    display: block;
    padding: $space-medium $space-huge;
    font-size: $font-larg;
  }

  &__list {
    display: block;
    padding: $space-medium $space-huge;
    font-size: $font-larg;
    & li {
      &::marker {
        color: $color-primary-dark;
        font-size: 1.2em;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.card {
  height: 100%;
  width: 100%;
  perspective: 150rem;
  transition: all 0.8s ease;
  position: relative;

  &__side {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    &--front {
      transform: rotateY(0);
    }

    &--back {
      background-color: $color-white;
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__side--front-active {
    transform: rotateY(180deg);
  }
  &__side--back-active {
    transform: rotateY(0);
  }

 
}

////////////////////////////////////////////////////////////////////////////////////////////////
// ----------------------- BREAKPOINT -  $bp-huge: 87.5em; (1400px) ------------------------///
////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: $bp-huge) {
  .offer {
    grid-template-columns: repeat(2, 1fr);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////
// ----------------------- BREAKPOINT -  $bp-xlarge: 75em; (1200px) ------------------------///
////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: $bp-xlarge) {
  .offer {
    &__header {
      font-size: $font-huge;
    }

  }
}

////////////////////////////////////////////////////////////////////////////////////////////////
// ----------------------- BREAKPOINT -  $bp-large: 62.5em; (1000px) ------------------------///
////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: $bp-large) {
  .offer {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 $space-xhuge $space-xhuge $space-xhuge;

    &__header {
      font-size: $font-xhuge;
    }

  }

  .offer-item {
    justify-self: center;
    height: 60rem;

    &__button-visible{
      visibility: visible;
      display: block;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////
// ----------------------- BREAKPOINT -  $bp-medium: 50em; (800px) ------------------------///
////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: $bp-medium) {
  .offer-item {
    &__title {
      font-size: $font-larg;
    }

    &__header {
      font-size: $font-larg;
    }

    &__text {
      font-size: $font-medium;
    }

    &__list {
      font-size: $font-medium;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////
// ----------------------- BREAKPOINT -  $bp-small: 37.5em; (600px) ------------------------///
////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: $bp-small) {
  .offer {
    padding: 0 $space-larg $space-xhuge $space-larg;

    &__hr {
      width: 70%;
    }
  }
  .offer-item {
    &__text {
      padding: $font-medium;
    }

    &__list {
      padding: $font-medium;
    }
  }
}



